html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 78px;
    font-color: white;
    position: absolute;
}

body,
html {
    height: 100%;
}

.navbar-fixed-top {
    background-color: white;
}

#bContact {
    margin-left: 8px;
    margin-right: 8px;
}

.clear {
    clear: both;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#profileImg {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.parallax {
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sectionHome {
    /* The image used */
    background-image: url("../IMG/background_hills.jpeg");
    padding-top: 10%;
}

#sectionTeam {
    /* The image used */
    background-image: url("../IMG/background_desk.jpeg");
}

#sectionPortfolio {
    background-color: lightsteelblue
}

#sectionHome h1 {
    margin-top: 20px;
    font-size: 60px;
}

#sectionHome p {
    font-size: 40px;
}

.wrapper {
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: aliceblue;
    background-color: rgba(240, 248, 255, 0.5);
}

#sectionTeam .wrapper {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: aliceblue;
    background-color: rgba(240, 248, 255, 0.6);
}

#sectionPortfolio .wrapper {
    background-color: transparent;
}

#sectionTeam .row {
    margin-top: 50px;
}

#sectionTeam .col-sm-6 {
    padding-left: 10%;
    padding-right: 10%;
}
#myNavbar #navButton{
    padding: 0;
}